.slider-base {
    box-sizing: border-box;
}

.slider {
    border-top: 0px;
    border-right: 1px solid black;
    border-bottom: 0px;
    border-left: 1px solid black;
    background-color: #faebd7;
}

.cursor-base {
    position: relative;
    box-sizing: border-box;
    display: block;
}

.cursor {
    width: 30px;
    height: 90px;
    background-color: green;
}

.slider:hover {
    cursor: pointer;
}
